<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- <i class="fa-brands fa-facebook"><a href="https://www.facebook.com/"></a></i>
            <i class="fa-brands fa-instagram"><a href="https://www.instagram.com/"></a></i>
            <i class="fa-brands fa-linkedin"><a href="https://www.linkedin.com/"></a></i> -->

            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>


        </div>
        <div class="f-info-brand"> &copy; created by bapi</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>